/* Modelo Caixa */

.conteudo{
    border: 1px solid red;
    padding: 5px;
    margin: 15px;
}

.conteudo2{
    border: 1px solid red;
    padding: 5px;
    margin: 10px;
}

/*MArgin-colapse: quando a margem maior sobrepõe a outro*/